@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Play School2</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Play School</h2>
        <p>
            Play School2 is a school application that
            demonstrates how to use Entity Framework Core in an
            ASP.NET Core MVC web application.
            The school app is a web site for a fictional School application. 
            It includes functionality such as student admission, course creation, and instructor assignments.
        </p>
    </div>
</div>